In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 61.4 MB/s eta 0:00:00:00:0100:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp37-cp37m-linux_x86_64.whl size=1159121 sha256=bf0010dcb26080540893a3c3807e3243627cd5ca2697daa946cfbe2d7baaafb1
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/03/71/13/010faf12246f72dc76b4150e6e599d13a85b4435e06fb9e51f
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24
Successfully installed sqlalchemy-1.3.9

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

In [5]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [6]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  both result in 0.1234 being formatted as 0.12.

In [7]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [8]:
df.head()

ModuleNotFoundError: No module named 'pandas.io.formats.string'

ImportError: cannot import name 'TableFormatter' from 'pandas.io.formats.format' (/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/io/formats/format.py)

In [9]:
%sql SELECT DISTINCT LAUNCH_SITE as "Launch_Site" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

In [10]:
%sql SELECT * FROM "SPACEXTABLE" WHERE LAUNCH_SITE LIKE "CCA%" LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-04-06', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-08-12', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '07:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-08-10', '00:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-01-03', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [13]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") AS "Total Payload Mass(Kgs)","Booster_Version"  ,"CUSTOMER"  FROM "SPACEXTABLE" WHERE "CUSTOMER" LIKE "NASA (CRS)" GROUP BY "Booster_Version"

 * sqlite:///my_data1.db
Done.

[(2647, 'F9 B4  B1039.2', 'NASA (CRS)'),
 (3310, 'F9 B4 B1039.1', 'NASA (CRS)'),
 (2697, 'F9 B4 B1045.2', 'NASA (CRS)'),
 (2268, 'F9 B5 B1056.2 ', 'NASA (CRS)'),
 (2972, 'F9 B5 B1058.4 ', 'NASA (CRS)'),
 (1977, 'F9 B5 B1059.2', 'NASA (CRS)'),
 (2500, 'F9 B5B1050', 'NASA (CRS)'),
 (2495, 'F9 B5B1056.1 ', 'NASA (CRS)'),
 (2205, 'F9 FT  B1035.2', 'NASA (CRS)'),
 (3136, 'F9 FT B1021.1', 'NASA (CRS)'),
 (2257, 'F9 FT B1025.1', 'NASA (CRS)'),
 (2490, 'F9 FT B1031.1', 'NASA (CRS)'),
 (2708, 'F9 FT B1035.1', 'NASA (CRS)'),
 (500, 'F9 v1.0  B0006', 'NASA (CRS)'),
 (677, 'F9 v1.0  B0007', 'NASA (CRS)'),
 (2296, 'F9 v1.1', 'NASA (CRS)'),
 (2216, 'F9 v1.1 B1010', 'NASA (CRS)'),
 (2395, 'F9 v1.1 B1012', 'NASA (CRS)'),
 (1898, 'F9 v1.1 B1015', 'NASA (CRS)'),
 (1952, 'F9 v1.1 B1018', 'NASA (CRS)')]

In [40]:
%sql SELECT AVG("PAYLOAD_MASS__KG_") AS "AVERAGE LOAD","Booster_Version" FROM "SPACEXTABLE"  WHERE "Booster_Version" LIKE "F9 v1.1%"

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665, 'F9 v1.1  B1003')]

In [41]:
df["Landing_Outcome"].unique()

array(['Failure (parachute)', 'No attempt', 'Uncontrolled (ocean)',
       'Controlled (ocean)', 'Failure (drone ship)',
       'Precluded (drone ship)', 'Success (ground pad)',
       'Success (drone ship)', 'Success', 'Failure', 'No attempt '],
      dtype=object)

In [52]:
%sql SELECT MIN(DATE) FROM 'SPACEXTABLE' WHERE "Landing_Outcome" = "Success (ground pad)"

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

In [55]:
%sql SELECT "Booster_Version","Payload" FROM "SPACEXTABLE" WHERE "PAYLOAD_MASS__KG_" BETWEEN 4000 AND 6000 AND "Landing_Outcome" ="Success (drone ship)"

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022', 'JCSAT-14'),
 ('F9 FT B1026', 'JCSAT-16'),
 ('F9 FT  B1021.2', 'SES-10'),
 ('F9 FT  B1031.2', 'SES-11 / EchoStar 105')]

In [67]:
%sql SELECT "Mission_Outcome", COUNT("Mission_Outcome") FROM "SPACEXTABLE" GROUP BY "Mission_Outcome"

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

In [69]:
%sql SELECT "Booster_Version","Payload","PAYLOAD_MASS__KG_" FROM "SPACEXTABLE" WHERE "PAYLOAD_MASS__KG_" = (SELECT MAX("PAYLOAD_MASS__KG_") FROM "SPACEXTABLE")

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4', 'Starlink 1 v1.0, SpaceX CRS-19 ', 15600),
 ('F9 B5 B1049.4', 'Starlink 2 v1.0, Crew Dragon in-flight abort test ', 15600),
 ('F9 B5 B1051.3', 'Starlink 3 v1.0, Starlink 4 v1.0 ', 15600),
 ('F9 B5 B1056.4', 'Starlink 4 v1.0, SpaceX CRS-20', 15600),
 ('F9 B5 B1048.5', 'Starlink 5 v1.0, Starlink 6 v1.0 ', 15600),
 ('F9 B5 B1051.4', 'Starlink 6 v1.0, Crew Dragon Demo-2 ', 15600),
 ('F9 B5 B1049.5', 'Starlink 7 v1.0, Starlink 8 v1.0', 15600),
 ('F9 B5 B1060.2 ', 'Starlink 11 v1.0, Starlink 12 v1.0 ', 15600),
 ('F9 B5 B1058.3 ', 'Starlink 12 v1.0, Starlink 13 v1.0 ', 15600),
 ('F9 B5 B1051.6', 'Starlink 13 v1.0, Starlink 14 v1.0 ', 15600),
 ('F9 B5 B1060.3', 'Starlink 14 v1.0, GPS III-04  ', 15600),
 ('F9 B5 B1049.7 ', 'Starlink 15 v1.0, SpaceX CRS-21', 15600)]

In [91]:
%sql SELECT "DATE", "Booster_Version","Mission_Outcome","Landing_Outcome","Launch_Site" FROM "SPACEXTABLE" WHERE "Date" LIKE "%2015%" AND "Landing_Outcome" LIKE "%drone ship%" AND "Mission_Outcome" LIKE "%Failur%"

 * sqlite:///my_data1.db
Done.

[('2015-06-28', 'F9 v1.1 B1018', 'Failure (in flight)', 'Precluded (drone ship)', 'CCAFS LC-40')]